
<div class="alert alert-success">
  <%= link_to "X", [comment.article, comment], method: :delete, data: {confirm: "Are you sure ? "}, class: "close" %>
  <p>
    <span class="glyphicon glyphicon-user"></span>&nbsp;<strong><%= comment.commenter %></strong>
  </p>
  <p>
    <%= comment.body %>
  </p>
</div>
