<%= form_for ([@article, @article.comments.build]) do |f| %>
<table >
  <tr>
    <td><%= f.label :body %></td>
    <td><%= f.text_area :body, class: "form-control", :placeholder => "Comments" %></td>
    <td><%= f.submit :submit.capitalize, :class => "btn btn-primary" %></td>
  </tr>

</table>
<% end %>
