.table th, .table td {
     border-top: none !important;
 }

textarea.form-control {
    height: 500px;
    width: 650px;
}
textarea.form-control {
    height: 600px;
    margin: 10px;
}
.form-control{
  margin: 10px;
}
#password{
    margin: 10px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
  float: right;
  margin-left: 10px;
}
.btn.btn-like{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.tbl-list{
  font-size: 20px;
}
.profile{
  margin-top: 50px;
}
.prof{
  font-size: 20px;
}
.labl{
  font-weight: bold;
  color: #949494;
  margin-top: 10px;
}
label{
  margin-top: 15px;
}
.vote{
  float: right;
}

.col-sm-4.profile_contents{
  align-content: center;
}
.pagination{
  display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
